:root {
    --transparent: rgba(0,0,0,0);
    --black: rgba(0,0,0,1);
    --blue1: rgba(54, 99, 248, .35);
    --blue2: rgba(54, 99, 248, 1);
    --blue3: rgba(54, 99, 248, .7);
    --purple1: rgba(209, 54, 248, .35);
    --purple2: rgba(209, 54, 248, 1);
    --terminal1: rgba(22, 240, 95, .35);
    --terminal2: rgba(22, 240, 95, 1);
    --terminal3: rgba(22, 240, 95, .7);
    --red1: rgba(240, 36, 0, .35);
    --red2: rgba(240, 36, 0, 1);
    --red3: rgba(240, 36, 0, .7);
    --yellow1: rgba(255, 249, 84, .35);
    --yellow2: rgba(255, 249, 84, 1);
    --yellow3: rgba(255, 249, 84, .7);
    --green1: rgba(102, 255, 0, .35);
    --green2: rgba(102, 255, 0, 1);
    --green3: rgba(102, 255, 0, .7);
    --orange1: rgba(234, 159, 20, .5);
    --orange2: rgba(234, 159, 20, 1);
    --tan1: rgba(210, 180, 140, .5);
    --tan2: rgba(210, 180, 140, 1);
    --ice1: rgba(44, 206, 225, 0.5);
    --ice2: rgba(44, 206, 225, 1);
    --olive1: rgba(122, 197, 0, 0.5);
    --olive2: #7ac500;
    --lines: var(--terminal1);
    --text: var(--terminal2);
    /* --perspective: perspective(30rem) rotateX(40deg) scale(2); */
    --perspective: perspective(60rem) rotateX(20deg) scale(2);
    --perspectiveGame: perspective(15rem) rotateX(20deg) scale(2);
    --zoomInCenter: zoomInCenter .75s ease forwards;
    --glow: 1px 1px 4rem 1rem;
}
@font-face {
    font-family: 'Delta Ray Chrome';
    src: url('../fonts/delta-ray-chrome.woff2') format('woff2'),
         url('../fonts/delta-ray-chrome.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'M42';
    src: url('../fonts/m42.woff2') format('woff2'),
         url('../fonts/m42.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Retro Gaming';
    src: url('../fonts/retro-gaming.woff2') format('woff2'),
         url('../fonts/retro-gaming.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*, 
*:before, 
*:after {
    box-sizing: border-box;
    user-select: none;
}

html {
    font-family: sans-serif;
	font-size: 62.5%;
	text-size-adjust: 100%;
}

body {
    line-height: 1.25;
    background: var(--black);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    color: var(--text);
    font-family: 'Retro Gaming';
}

.master {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 1024px;
    min-width: 1024px;
    height: 768px;
    grid-gap: 5rem;
    align-items: flex-start;
}

.title {
    width: 100%;
    color: var(--text);
    font-family: 'Delta Ray Chrome';
    font-size: 10rem;
    line-height: .75;
    transform: skew(-20deg);
    display: grid;
    justify-content: center;
    animation: var(--zoomInCenter);
    padding: 10rem 0;
}

.title--hide {
    display: none;
}

.story {
    display: grid;
    grid-gap: 3rem;
}

.how__title,
.leaderboard__title,
.story__title {
    opacity: 0;
    animation: var(--zoomInCenter);
    font-family: 'M42';
    font-size: 3.2rem;
    display: block;
    text-align: center;
    padding: 6rem 0 0;
    line-height: 2;
    font-style: italic;
}

.how__content,
.story__content {
    opacity: 0;
    animation: var(--zoomInCenter);
    animation-delay: .3s;
    font-size: 3rem;
    font-variant: small-caps;
    max-width: 80%;
    margin: 0 auto;
    padding: 0 0 1rem;
}

.story__next {
    opacity: 0;
    animation: var(--zoomInCenter);
    animation-delay: .5s;
}

.how__back,
.leaderboard__back,
.story__back {
    opacity: 0;
    animation: var(--zoomInCenter);
    animation-delay: .6s;
}

.graph {
    overflow: hidden;
    opacity: .5;
    position: absolute;
    top: 50%;
    width: 100vw;
    height: 100vh;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.lines {
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, var(--transparent) 0px, var(--lines) 0%, var(--lines) 3px, var(--transparent) 0px), linear-gradient(90deg, var(--transparent) 0px, var(--lines) 0%, var(--lines) 3px, var(--transparent) 0px); 
    background-size: 4em 4em, 8em 2em;
    /* height: 40em;
    perspective: 100rem;
    margin-top: 20em;
    transform: perspective(20rem) rotateX(45deg) scale(2); */
    height: 100%;
    margin: 30rem 0 0 -50%;
    transform: var(--perspective);
    width: 200vw;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transition: opacity 2s ease;
    border-width: 0 4rem;
    border-style: solid;
    border-color: transparent;
    pointer-events: none;
}

.lines--1 {
    transform: var(--perspective) translateY(0);
    animation-name: glide1;
}

.lines--2 {
    transform: var(--perspective) translateY(-100%);
    animation-name: glide2;
}

.lines--3 {
    transform: var(--perspective) translateY(100%);
    animation-name: glide3;
}

.lines--4 {
    transform: var(--perspective) translateY(200%);
    animation-name: glide4;
}

.lines--5 {
    transform: var(--perspective) translateY(-200%);
}

.graph--out .track,
.graph--out .lines,
.graph--out .paths {
    opacity: 0;
}

.graph--game {
    width: 100%;
    height: 100%;
    opacity: 1;
}

.graph--game .track {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
    transition: opacity 2s ease;
    opacity: 1;
}

.graph--game .lines {
    width: 112.4rem;
    margin-left: -5rem;
    z-index: 1;
}

.graph--easy .lines {
    animation-duration: 10s;
}

.graph--normal .lines {
    animation-duration: 7s;
}

.graph--hard .lines {
    animation-duration: 4s;
}

.graph--extreme .lines {
    animation-duration: 1.5s;
}

.graph--game .paths {
    opacity: .5;
}

.graph--game .lines--1 {
    transform: var(--perspectiveGame) translateY(0);
    animation-name: game1;
}

.graph--game .lines--2 {
    transform: var(--perspectiveGame) translateY(-100%);
    animation-name: game2;
}

.graph--game .lines--3 {
    transform: var(--perspectiveGame) translateY(100%);
    animation-name: game3;
}

.graph--game .lines--4 {
    transform: var(--perspectiveGame) translateY(200%);
    animation-name: game4;
}

.graph--game .lines--5 {
    transform: var(--perspectiveGame) translateY(-200%);
    transition: opacity 2s ease;
}

.graph--desert .lines {
    background-image: linear-gradient(180deg, rgba(0,0,0, .5) 0px, var(--tan1) 0%, var(--tan1) 3px, rgba(0,0,0, .5) 0px), linear-gradient(90deg, rgba(0,0,0, .5) 0px, var(--tan1) 0%, var(--tan1) 3px, rgba(0,0,0, .5) 0px); 
}

.graph--tropical .track {
    background-image: url("../../assets/img/track-tropical2.png");
    background-position: 0 5rem;
}

.graph--tropical .lines {
    background-image: linear-gradient(180deg, rgba(0,0,0, .75) 0px, var(--olive1) 0%, var(--olive1) 3px, rgba(0,0,0, .75) 0px), linear-gradient(90deg, rgba(0,0,0, .75) 0px, var(--olive1) 0%, var(--olive1) 3px, rgba(0,0,0, .75) 0px); 
    border-color: var(--olive1);
}

.graph--tropical .paths {
    background: linear-gradient(180deg, transparent, var(--olive1));
}

.graph--mountain .track {
    background-image: url("../../assets/img/track-mountain2.png");
    background-position: 0 14.8rem;
}

.graph--mountain .lines {
    background-image: linear-gradient(180deg, rgba(0,0,0,.9) 0px, var(--ice1) 0%, var(--ice1) 3px, rgba(0,0,0,.9) 0px), linear-gradient(90deg, rgba(0,0,0,.9) 0px, var(--ice1) 0%, var(--ice1) 3px, rgba(0,0,0,.9) 0px);
    border-color: var(--ice1); 
}

.graph--mountain .paths {
    background: linear-gradient(180deg, transparent, var(--ice1));
}

.graph--sunset .track {
    background-image: url("../../assets/img/track-sunset.png");
    background-position: 2rem 0;
}

.graph--sunset .lines {
    background-image: linear-gradient(180deg, rgba(0,0,0, .75) 0px, var(--orange1) 0%, var(--orange1) 3px, rgba(0,0,0, .75) 0px), linear-gradient(90deg, rgba(0,0,0, .75) 0px, var(--orange1) 0%, var(--orange1) 3px, rgba(0,0,0, .75) 0px); 
    border-color: var(--orange1);
}

.graph--sunset .paths {
    background: linear-gradient(180deg, transparent, var(--orange1));
}

.graph--game .racer {

}

.paths {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, transparent, var(--terminal3));
    height: 100%;
    margin: 30rem 0 0 45rem;
    width: 14rem;
    left: -.8rem;
    opacity: 0;
    transition: opacity 4s ease;
    pointer-events: none;
}

.paths--1 {
    transform: var(--perspectiveGame) translateY(-34rem) translateX(0);
}

.paths--2 {
    transform: var(--perspectiveGame) translateY(-34rem) translateX(-16rem);
}

.paths--3 {
    transform: var(--perspectiveGame) translateY(-34rem) translateX(16rem);
}

.menu {
    text-align: center;
    z-index: 10;
}

.hide {
    display: none;
}

.menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: grid;
    grid-gap: 3rem;
}

.menu--racer ul {
    grid-template-columns: repeat(2, 1fr);
    max-width: 80%;
    margin: 0 auto;
}

.menu--row ul {
    grid-template-columns: repeat(2, 1fr);
}

.menu--skill ul {
    grid-template-columns: repeat(2, 1fr);
}

/* .menu--mode ul {
    grid-template-columns: repeat(3, 1fr);
} */

.menu--track ul {
    grid-template-columns: repeat(3, 1fr);
    max-width: 90%;
    margin: 0 auto;
}

.leaderboard__select,
.menu button,
.racer__prompt {
    font-family: 'M42';
    /* font-family: '04b31'; */
    color: var(--text);
    background-color: rgba(0,0,0, .5);
    border: 2px solid var(--text);
    padding: 2rem 2rem 1.5rem;
    text-transform: uppercase;
    cursor: pointer;
    max-width: 40rem;
    /* min-width: 42rem; */
    line-height: 1;
    font-size: 1.4rem;
    position: relative;
    overflow: hidden;
    transition: all .25s ease;
    transform: skew(-20deg);
    width: 100%;
}

.menu__back-btn .menu__btn, 
.menu .menu__back {
    min-width: 10rem;
    width: auto;
    margin-top: 2rem;
    font-size: 1.2rem;
    padding-top: 2rem;
}

.leaderboard__select:hover,
.menu button:hover,
.racer__prompt:hover {
    box-shadow: var(--glow) var(--terminal1);
    background-color: var(--terminal1);
}

.leaderboard__select:before,
.menu button:before,
.racer__prompt:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    background: linear-gradient(
        120deg,
        transparent,
        var(--terminal1),
        transparent
    );
    transition: all .5s;
}

.laderboard__select:hover:before,
.menu button:hover:before,
.racer__prompt:hover:before {
    transform: translateX(100%);
}

.menu li {
    opacity: 0;
    animation: var(--zoomInCenter);
}

.menu li:last-child {
    grid-column: 1 / -1;
}

.menu li:nth-child(1) {
    animation-delay: .2s;
}

.menu li:nth-child(2) {
    animation-delay: .3s;
}

.menu li:nth-child(3) {
    animation-delay: .4s;
}

.menu li:nth-child(4) {
    animation-delay: .5s;
}

.menu li:nth-child(5) {
    animation-delay: .6s;
}

.menu li:nth-child(6) {
    animation-delay: .7s;
}

.menu li:nth-child(7) {
    animation-delay: .8s;
}

.menu li:nth-child(8) {
    animation-delay: .9s;
}

.menu li:nth-child(9) {
    animation-delay: 1s;
}

.menu li:nth-child(10) {
    animation-delay: 1.1s;
}

.menu li:nth-child(11) {
    animation-delay: 1.2s;
}

.menu--racer button {
    padding: 0 2rem 2rem;
    line-height: 1.5;
}

.menu--racer img {
    display: block;
    max-width: 75%;
    margin: 0 auto;
    transform: skew(20deg);
    margin-top: -1rem;
    pointer-events: none;
}

.menu--racer .alpha {
    border-color: var(--blue2);
    color: var(--blue2);
}

.menu--racer .delta {
    border-color: var(--yellow2);
    color: var(--yellow2);
}

.menu--racer .blaze {
    border-color: var(--red2);
    color: var(--red2);
}

.menu--racer .juice {
    border-color: var(--green2);
    color: var(--green2);
}

/* .menu--racer .alpha .cube > div {
    border-color: var(--blue2);
    background: var(--blue1);
}

.menu--racer .delta .cube > div {
    border-color: var(--yellow2);
    background: var(--yellow1);
}

.menu--racer .blaze .cube > div {
    border-color: var(--red2);
    background: var(--red1);
}

.menu--racer .colemak .cube > div {
    border-color: var(--purple2);
    background: var(--purple1);
} */

.menu--racer .alpha:hover {
    box-shadow: var(--glow) var(--blue1);
    background: var(--blue1);
}

.menu--racer .delta:hover {
    box-shadow: var(--glow) var(--yellow1);
    background: var(--yellow1);
}

.menu--racer .blaze:hover {
    box-shadow: var(--glow) var(--red1);
    background: var(--red1);
}

.menu--racer .juice:hover {
    box-shadow: var(--glow) var(--green1);
    background: var(--green1);
}

.menu--racer .alpha:before {
    background: linear-gradient(
        120deg,
        transparent,
        var(--blue1),
        transparent
    );
}

.menu--racer .delta:before {
    background: linear-gradient(
        120deg,
        transparent,
        var(--yellow1),
        transparent
    );
}

.menu--racer .blaze:before {
    background: linear-gradient(
        120deg,
        transparent,
        var(--red1),
        transparent
    );
}

.menu--racer .juice:before {
    background: linear-gradient(
        120deg,
        transparent,
        var(--green1),
        transparent
    );
}

.menu--row button {
    line-height: 2;
}

.menu--row img {
    display: block;
    margin: 0 auto 2rem;
    max-width: 100%;
    pointer-events: none;
}

.menu__title {
    font-family: 'M42';
    /* font-family: '04b31'; */
    text-transform: uppercase;
    font-size: 3rem;
    padding: 15rem 0 5rem;
    white-space: nowrap;
    animation: var(--zoomInCenter);
}

.menu__title-text {
    transform: skew(-20deg);
}

.menu--track .desert {
    border-color: var(--tan2);
    color: var(--tan2);
}

.menu--track .game__start {

    background-repeat: no-repeat;
    background-size: cover;
}

.menu--track .mountain {
    border-color: var(--ice2);
    color: var(--ice2);
    background-image: url(../../assets/img/track-mountain2.png);
    background-position: -4rem 1rem;
}

.menu--track .sunset {
    border-color: var(--orange2);
    color: var(--orange2);
    background-image: url(../../assets/img/track-sunset.png);
    background-position: center -1rem;
}

.menu--track .tropical {
    border-color: var(--olive2);
    color: var(--olive2);
    background-image: url(../../assets/img/track-tropical2.png);
    background-position: center;
}

.menu--track .game__start:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    z-index: -1;
}

.menu--track .desert:hover {
    box-shadow: var(--glow) var(--tan1);
    background: var(--tan1);
}

.menu--track .mountain:hover {
    box-shadow: var(--glow) var(--ice1);
    background-color: var(--ice1);
}

.menu--track .sunset:hover {
    box-shadow: var(--glow) var(--orange1);
    background-color: var(--orange1);
}

.menu--track .tropical:hover {
    box-shadow: var(--glow) var(--olive1);
    background-color: var(--olive1);
}

.menu--track .desert:before {
    background: linear-gradient(
        120deg,
        transparent,
        var(--tan1),
        transparent
    );
}

.menu--track .mountain:before {
    background: linear-gradient(
        120deg,
        transparent,
        var(--ice1),
        transparent
    );
}

.menu--track .sunset:before {
    background: linear-gradient(
        120deg,
        transparent,
        var(--orange1),
        transparent
    );
}

.menu--track .tropical:before {
    background: linear-gradient(
        120deg,
        transparent,
        var(--olive1),
        transparent
    );
}

.menu--track .game__start {
    height: 12rem;
    line-height: 1.5;
}

.menu--skill .emoticon {
    font-family: 'Retro Gaming';
    text-transform: none;
    margin: 0 0 2rem;
    font-size: 3rem;
    transform: skew(20deg);
    padding-right: 3rem;
}

.menu--skill .emoticon small {
    position: relative;
    top: -5px;
}

.todo {
    display: none;
    position: absolute;
    left: 3rem;
    bottom: 3rem;
    font-size: 1.2rem;
    max-width: 30rem;
    line-height: 1.5;
}

.footer {
    text-transform: uppercase;
    font-family: 'Retro Gaming';
    font-size: 1.2rem;
    position: absolute;
    bottom: 1rem;
    text-align: right;
    right: 1rem;
}

.status {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    text-transform: uppercase;
    font-family: 'Retro Gaming';
    font-size: 1.2rem;
}

.leaderboard__selection {
    opacity: 0;
    padding: 3rem 0;
    display: flex;
    grid-gap: 4rem;
    animation: var(--zoomInCenter);
    animation-delay: .1s;
}

.leaderboard__type button {
    padding: 1rem;
    font-size: 1rem;
}

.leaderboard__current {
    font-size: 2rem;
    font-variant: small-caps;
}

.leaderboard__select {
    font-family: 'Retro Gaming';
    text-transform: none;
    font-variant: small-caps;
    width: auto;
    font-size: 1.8rem;
    padding: 1rem 1rem .5rem;
    min-width: 18rem;
}

.leaderboard__select:focus-visible,
.leaderboard__select:focus {
    outline: 0;
    background: none;
    color: forestgreen;
}

.leaderboard__cat {
    font-family: 'M42';
    color: var(--text);
    transform: skew(-20deg);
    padding: 0 0 1rem;
}

.leaderboard .leaderboard__table {
    padding: 1rem 0 2rem;
    grid-gap: 1rem;
}

.leaderboard__item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-size: 2rem;
    font-variant: small-caps;
}

.leaderboard__item--header .leaderboard__column {
    font-family: 'M42';
    transform: skew(-20deg);
    font-size: 1.2rem;
    font-variant: normal;
    padding: 0 0 1rem;
}

.leaderboard__rank {
    font-size: 2rem;
}

.leaderboard__racer--blaze {
    color: var(--red2);
}

.leaderboard__racer--alpha {
    color: var(--blue2);
}

.leaderboard__racer--delta {
    color: var(--yellow2);
}

.leaderboard__racer--juice {
    color: var(--green2);
}

.leaderboard__back {
    animation-delay: 1.3s;
}

.racer {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    width: 100%;
}

.racer__img {
    position: absolute;
    bottom: 0;
    transform: translateY(15rem);
    z-index: 10;
    opacity: 0;
}

.graph--game .racer__img {
    animation: racerStart 2s ease forwards;
    animation-delay: 1s;
    /* left: 50%;
    margin-left: -8.6rem; */
}

.racer__img--mid {
    left: 50%;
    margin-left: -8.6rem;
}

.racer__img--right {
    right: 12rem;
}

.racer__img--left {
    left: 12rem;
}

.racer__prompt {
    position: absolute;
    bottom: 0;
    max-width: 8rem;
    text-align: center;
    font-size: 2rem;
    z-index: 5;
    background-color: rgba(0,0,0, .75);
    opacity: 0;
    transition: none;
}

.graph--game .racer__prompt--left {
    left: 0;
    animation: promptLeft 1s ease forwards;
    animation-delay: 2.7s;
}

.graph--game .racer__prompt--right {
    right: 0;
    animation: promptRight 1s ease forwards;
    animation-delay: 2.7s;
}

.graph--alpha .racer__prompt {
    border-color: var(--blue2);
    color: var(--blue2);
}

.graph--alpha .racer__prompt--active {
    box-shadow: var(--glow) var(--blue1);
    background: var(--blue1);
}

.graph--alpha .racer__prompt:before {
    background: linear-gradient(
        120deg,
        transparent,
        var(--blue1),
        transparent
    );
}

.graph--delta .racer__prompt {
    border-color: var(--yellow2);
    color: var(--yellow2);
}

.graph--delta .racer__prompt--active {
    box-shadow: var(--glow) var(--yellow1);
    background: var(--yellow1);
}

.graph--delta .racer__prompt:before {
    background: linear-gradient(
        120deg,
        transparent,
        var(--yellow1),
        transparent
    );
}

.graph--blaze .racer__prompt {
    border-color: var(--red2);
    color: var(--red2);
}

.graph--blaze .racer__prompt--active {
    box-shadow: var(--glow) var(--red1);
    background: var(--red1);
}

.graph--blaze .racer__prompt:before {
    background: linear-gradient(
        120deg,
        transparent,
        var(--red1),
        transparent
    );
}

.graph--juice .racer__prompt {
    border-color: var(--green2);
    color: var(--green2);
}

.graph--juice .racer__prompt--active {
    box-shadow: var(--glow) var(--green1);
    background: var(--green1);
}

.graph--juice .racer__prompt:before {
    background: linear-gradient(
        120deg,
        transparent,
        var(--green1),
        transparent
    );
}

.racer--ready .racer__img {
    transform: translateY(-8rem);
    animation: none;
}

.racer--ready .racer__prompt--left {
    opacity: 1;
    transform:translate(32rem, -9rem) skew(20deg);
    animation: none;
}

.racer--ready .racer__prompt--right {
    opacity: 1;
    transform:translate(-32rem, -9rem) skew(-20deg);
    animation: none;
}

.racer--left .racer__img--left,
.racer--left .racer__prompt--right,
.racer--mid .racer__img--mid,
.racer--right .racer__prompt--left,
.racer--right .racer__img--right {
    opacity: 1;
}

.racer--left .racer__prompt--left,
.racer--right .racer__prompt--right {
    opacity: 0;
}

.racer--left .racer__prompt--right {
    transform:translate(-62rem, -9rem) skew(-20deg);
}
.racer--right .racer__prompt--left {
    transform:translate(62rem, -9rem) skew(20deg);
}

.scanlines {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: linear-gradient(
        to bottom,
        transparent 50%,
        rgba(0, 0, 0, .3) 51%
    );
    background-size: 100% 4px;
    border: 2px solid var(--text);
    z-index: 100;
}

/* .scanlines:before,
.scanlines:after {
    display: block;
    pointer-events: none;
    content: '';
    position: absolute;
}

.scanlines:before {
    width: 100%;
    height: 2px;
    z-index: 2147483649;
    background: rgba(0, 0, 0, .3);
    opacity: .75;
    animation: scanline 6s linear infinite;
}

.scanlines:after {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2147483648;
    background: linear-gradient(
        to bottom,
        transparent 50%,
        rgba(0, 0, 0, .3) 51%
    );
    background-size: 100% 4px;
    animation: scanlines 1s steps(60) infinite;
} */

.cube {
	position: relative;
	width: 5rem;
    height: 5rem;
	animation: spin 10s infinite linear;
	transform-style: preserve-3d;
    margin: 0 auto 3rem;
}

.cube > div {
	border: 2px solid;
	position: absolute;
	width: 5rem; 
    height: 5rem;
	transition: transform 2s;
}

@keyframes spin {
	from { transform: rotateY(0) rotateX(0); }
	to   { transform: rotateY(-360deg) rotateX(360deg); }
}

.one { transform: rotateX(90deg) translateZ(2.5rem); }
.two { transform: translateZ(2.5rem); }
.three { transform: rotateY(90deg) translateZ(2.5rem); }
.four { transform: rotateY(180deg) translateZ(2.5rem); }
.five { transform: rotateY(-90deg) translateZ(2.5rem); }
.six { transform: rotateX(-90deg) translateZ(2.5rem); }

.cursor { 
    animation: cursor infinite cubic-bezier(1, 0, 0, 1) 1s;
    display: inline-block;
    width: 1rem;
    box-shadow: 0 0 1rem var(--terminal1);
    background: var(--terminal2);
    transform: skew(-20deg) translate(-1rem, 1rem);
    height: 7rem;
  }
  
@keyframes cursor { 
    from { opacity: 1.0; } to { opacity: 0.0; }
}

@keyframes scanline {
    0% { transform: translate3d(0,200000%,0) }
}

@keyframes scanlines {
    0% { background-position: 0 50% }
}

@keyframes glide1 {
    from { transform: var(--perspective) translateY(0) }
    to { transform: var(--perspective) translateY(100%) }
}

@keyframes glide2 {
    from { transform: var(--perspective) translateY(100%) }
    to { transform: var(--perspective) translateY(200%) }
}

@keyframes glide3 {
    from { transform: var(--perspective) translateY(-100%) }
    to { transform: var(--perspective) translateY(0) }
}

@keyframes glide4 {
    from { transform: var(--perspective) translateY(-200%) }
    to { transform: var(--perspective) translateY(-100%) }
}

@keyframes game1 {
    from { transform: var(--perspectiveGame) translateY(0) }
    to { transform: var(--perspectiveGame) translateY(100%) }
}

@keyframes game2 {
    from { transform: var(--perspectiveGame) translateY(100%) }
    to { transform: var(--perspectiveGame) translateY(200%) }
}

@keyframes game3 {
    from { transform: var(--perspectiveGame) translateY(-100%) }
    to { transform: var(--perspectiveGame) translateY(0) }
}

@keyframes game4 {
    from { transform: var(--perspectiveGame) translateY(-200%) }
    to { transform: var(--perspectiveGame) translateY(-100%) }
}

@keyframes zoomInCenter { 
    0% {opacity:0;transform:scale(0);}
    100% {opacity:1;transform:scale(1);}
}

@keyframes racerStart { 
    0% {transform:translateY(15rem);}
    100% {transform:translateY(-8rem);}
}

@keyframes promptLeft { 
    0% {opacity:0;transform:translate(50rem, -9rem) skew(20deg);}
    100% {opacity:1;transform:translate(32rem, -9rem) skew(20deg);}
}

@keyframes promptRight { 
    0% {opacity:0;transform:translate(-50rem, -9rem) skew(-20deg);}
    100% {opacity:1;transform:translate(-32rem, -9rem) skew(-20deg);}
}